html,
body {
  height: 100%;

  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  // padding: 0 10px;
}

// стили для кнопок слайдела, активная желтая

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 15px;
  }
  button {
    background-color: $title;
    border: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
  }
  li.slick-active {
    button {
      background-color: #ffef35;
    }
  }
}

.info-email {
  font-weight: 600;
  font-style: 14px;
  color: $title;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block; // делаем блоком, что б работало margin
  position: relative;
  &::before {
    content: '';
    background-image: url();
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 0;
    width: 16px;
    height: 16px;
  }
}
